<ion-view title="'設定'" hide-back-button="true" left-buttons="leftButtons">
  <ion-content has-header="true" has-tabs="true">
    <div class="list">

      <ion-item class="item item-icon-left">
        <i class="icon ion-email"></i>
        電話
        <span class="item-note">
          0963066131
        </span>
      </ion-item>

      <ion-item class="item item-icon-left">
        <i class="icon ion-person-stalker"></i>
        出發地
        <span class="item-note">
          臺北中山
        </span>
      </ion-item>

      <ion-item class="item item-icon-left">
        <i class="icon ion-chatbubble-working"></i>
        金額(日)
        <span class="item-note">
          NT$3,200
        </span>
      </ion-item>

      <ion-item class="item item-icon-left">
        <i class="icon ion-person-stalker"></i>
        路線
        <span class="item-note">
          20
        </span>
      </ion-item>

    </div>
  </ion-content>
</ion-view>
