<ion-view title="'工作日'" hide-back-button="true" left-buttons="leftButtons">
  <ion-content has-header="true">
    <ul class="list">
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         3/18
      </li>
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         3/19
      </li>
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         3/20
      </li>
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         3/21
      </li>
      <li class="item item-divider">
        過期
      </li>
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         3/1
      </li>
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         3/2
      </li>
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         3/3
      </li>
    </ul>
  </ion-content>
</ion-view>